{% extends 'base.html' %}

{% block main %}
<div class="container">
  <h2>Cadastrar especialidade</h2>

<form class="form-horizontal" method="post" novalidate>
  {% csrf_token %}

  {{ form.non_field_errors }}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}

    {% for field in form.visible_fields %}
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">{{ field.label_tag }}</label>
      <div class="col-sm-8">
        {{ field.errors }}
        {{ field }}
        {{ field.help_text }}
      </div>
    </div>
    {% endfor %}

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-sm btn-primary btn-create">Submit</button>
    </div>
  </div>
</form>
</div>
{% endblock %}